# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
.venv/
env/
venv/

# Django
db.sqlite3
*.sqlite3
/media/
staticfiles/

# Local settings
.env

# IDE / Editors
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
pytest_cache/
