{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Менеджер Задач{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Менеджер Задач</a>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-md-0 align-items-center">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <form method="post" action="{% url 'users:logout' %}" class="d-inline m-0">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link nav-link px-2 py-2">
                    Выход
                  </button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:create' %}">Регистрация</a>
              </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:list' %}">Пользователи</a>
            </li>

            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'statuses_index' %}">Статусы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks_index' %}">Задачи</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'labels:index' %}">Метки</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
